<launch>
    <!-- Launch the first launch file -->

    <param name="optimum_radius" type="double" value="0.01"/>
    <param name="height_target" type="double" value="0.32"/>
    <param name="width_target" type="double" value="0.25"/>

    <include file="$(find test_boustrophedon_with_robot)/launch/path_planning_wo_server.launch"/>

    <!-- Launch the second launch file with required arguments -->
    <include file="$(find boustrophedon_server)/launch/boustrophedon_server.launch">
        <param name="stripe_separation" value="$(arg optimum_radius)"/>
    </include>
</launch>
